# Dependencias de Node.js
node_modules/
dist/
# Archivos de configuración de sistema operativo
.DS_Store
Thumbs.db

# Archivos de log
*.log

# Otros archivos que no necesitas subir al repositorio
npm-debug.log*
yarn-error.log
