---
import BaseLayout from '~/layouts/BaseLayout.astro';
---
<BaseLayout title="Contacto">
  <h1 class="text-2xl font-semibold mb-2">Contacto</h1>
  <p>Puedes escribirme a través de este formulario (ficticio).</p>
</BaseLayout>
