---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Proyectos">
  <ul>
    <li>
      <strong>Mi Portfolio</strong>: Sitio personal hecho con Astro. 
      <a href="#">Ver en GitHub</a>
    </li>
  </ul>
</BaseLayout>
