---
import BaseLayout from '~/layouts/BaseLayout.astro';
---
<BaseLayout title="Sobre mí">
  <h1 class="text-2xl font-semibold mb-2">Sobre mí</h1>
  <p>Este es el apartado donde hablo de mí o de mi proyecto.</p>
</BaseLayout>
